main{
    padding: 2rem 0;
}

.welcome {
    padding: 3rem 0;
    margin-bottom: 2rem;
    background-color: #eee;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.welcomeButtons{
    display: inline-block;
    margin-right: 10px;
}

.btn-primary{
    background-color: #43515e;
    border-color: #1F2C39;
    color: white;
}

.btn-primary:hover {
    background-color: #1F2C39;
    border-color: #16202B;
}