{% extends "base.html" %}

{% block main%}
<div class="welcome">
    <h1>ようこそ家計簿へ</h1>
    <a class="btn btn-primary" href="{% url 'transaction_new' %}">取引を追加する</a>
</div>
<h2>
    今月（{{ current_month }}月）の取引一覧
    <form method="get" action="{% url 'export_transactions' %}" style="float: right;">
        <button type="submit" class="btn btn-primary">CSVファイルをダウンロードする</button>
    </form>
</h2>
{% if transactions %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>カテゴリ</th>
            <th>金額</th>
            <th>通貨</th>
            <th>資金形態</th>
            <th>取引日</th>
            <th>説明</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <th>{{ transaction.transaction_id }}</th>
            <th>{{ transaction.category }}</th>
            <th>{{ transaction.amount }}</th>
            <th>{{ transaction.currency }}</th>
            <th>{{ transaction.account_type }}</th>
            <th>{{ transaction.date }}</th>
            <th>{{ transaction.description }}</th>                    
        </tr>
        {% endfor %}
    </tbody>
</table>
<table>
    <tbody>
        <tr>
            <th>今月の収入</th>
            <td>{{ summary.monthly_income }}</td>
        </td>
        <tr>
            <th>今月の支出</th>
            <td>{{ summary.monthly_expense }}</td>
        </tr>
        <tr>
            <th>今月の収支</th>
            <td>{{ summary.monthly_balance }}</td>
        </tr>
        <tr>
            <th>累計残金</th>
            <td>{{ summary.total_balance }}</td>
        </tr>
    </tbody>
</table>
{% else %}
<p>取引はまだありません。</p>
{% endif %}
{% endblock %}