{% load static %}
{% load django_bootstrap5 %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>家計簿</title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'kakeibo/css/style.css' %}">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        {% block extraheader %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                
                <!-- ロゴ -->
                <a class="navbar-brand" href="{% url 'top' %}">家計簿</a>
    
                <!-- トグルボタン -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- トグルボタンの中身 -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                取引
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                                <li><a class="dropdown-item" href="{% url 'top' %}">取引一覧</a></li>
                                <li><a class="dropdown-item" href="{% url 'transaction_new' %}">取引登録</a></li>
                                <li><a class="dropdown-item" href="{% url 'bulk_transaction_entry' %}">取引一括登録</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                商品
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                                <li><a class="dropdown-item" href="{% url 'products_list' %}">商品一覧</a></li>
                                <li><a class="dropdown-item disabled">商品登録</a></li>
                                <li><a class="dropdown-item disabled">商品一括登録</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                取引相手
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                                <li><a class="dropdown-item disabled">取引相手一覧</a></li>
                                <li><a class="dropdown-item disabled">取引相手登録</a></li>
                                <li><a class="dropdown-item disabled">取引相手一括登録</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                便利機能
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                                <li><a class="dropdown-item" href="{% url 'compare_balance' %}">所持金比較</a></li>
                                <li><a class="dropdown-item" href="{% url 'export_transactions' %}">CSVダウンロード</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                設定
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                                <li><a class="dropdown-item disabled">カテゴリ設定</a></li>
                                <li><a class="dropdown-item disabled">資金形態設定</a></li>
                                <li><a class="dropdown-item disabled">通貨種設定</a></li>
                                <li><a class="dropdown-item disabled">貨幣単位設定</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- 右端に配置する部分 -->
                    {% if request.user.is_authenticated %}
                    <div class="d-flex align-items-center ms-auto">
                        <span class="navbar-text">ようこそ {{ request.user.username }} さん</span>
                        <form action="{% url 'logout' %}" method="post" class="my-0">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-light btn-sm ms-2">
                                ログアウト
                            </button>
                        </form>
                    </div>
                    {% else %}
                    <div class="d-flex align-items-center ms-auto">
                        <form action="{% url 'login' %}" method="post" class="my-0">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-light btn-sm ms-2">
                                ログイン
                            </button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
        
        
        <main>
            <div class="container-fluid">
                {% block main %}{% endblock %}
            </div>
        </main>
    </body>
</html>